:right {
    --black: #0e0e0e;
    --green: rgb(5, 136, 141);
    --white: rgb(247, 255, 254);
    --violet: rgb(121, 0, 56);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: aliceblue;
    position: relative;
    font-family: 'Nunito', sans-serif;
}

/* ==============
Side navigation
=================*/
.side_navigation {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: .5rem;
    margin: 0;
    min-height: 100vh;
    width: 3rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px .5rem .25rem #33333333;
    transition: all .075s ease;
    -webkit-transition: all .075s ease;
    -moz-transition: all .075s ease;
    -ms-transition: all .075s ease;
    -o-transition: all .075s ease;
}

.side_navigation.expanded {
    width: 220px;
}

.side_navigation .logo_and_hamburger {
    display: flex;
    align-items: center;
    gap: 1.125rem;
    padding-top: .125rem;
}

/* md-logo */
.side_navigation .md-logo {
    display: none;
}

.side_navigation .md-logo img {
    width: 100%;
}

.side_navigation.expanded .md-logo {
    display: block;
    width: 7.5rem;
}

/* hamburger */
.hamburger {
    padding: .375rem;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
    width: 2.65rem;
    margin-left: 4px;
}

.hamburger:hover {
    background-color: rgba(0 0 0 / .1);
    background-color: aliceblue;
}

.hamburger.hide {
    display: none;
}

.hamburger i.stroke {
    margin-top: .25rem;
    margin-bottom: .25rem;
    display: block;
    width: 2rem;
    height: 5px;
    /* background-color: #0e0e0e; */
    background-color: rgb(5, 136, 141);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

/* tablist */
.side_navigation .tablist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}

.side_navigation .tablist li {
    background-color: #111111;
    padding-right: 3px;
    padding-block: .5rem;
    margin-bottom: .5rem;
    position: relative;
    display: flex;
    color: white;
    align-items: center;
    gap: .75rem;
}

.side_navigation.expanded .tablist li {
    padding-left: 1rem;
}

.side_navigation.expanded .tablist li .hide {
    margin: 0;
}

.side_navigation .tablist li:hover p {
    color: rgb(121, 0, 56);
    font-weight: 900;
}

.side_navigation .tablist li img {
    margin-left: .75rem;
}

.side_navigation .tablist li .hide {
    display: none;
    line-height: 1em;
}

.side_navigation.expanded .tablist li .hide {
    display: block;
}

.side_navigation .tablist li .indicator {
    width: .5rem;
    height: 100%;
    background-color: rgb(121, 0, 56);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 .375rem .375rem 0;
    -webkit-border-radius: 0 .375rem .375rem 0;
    -moz-border-radius: 0 .375rem .375rem 0;
    -ms-border-radius: 0 .375rem .375rem 0;
    -o-border-radius: 0 .375rem .375rem 0;
    display: none;
}

.side_navigation.expanded .tablist li .indicator {
    width: 1.125rem;
}

.side_navigation .tablist li .indicator.show {
    display: block;
}

/* upgrade */
.side_navigation .upgrade {
    margin-top: auto;
    margin-bottom: 5rem;
}

.side_navigation .upgrade img {
    width: 3.25rem;
}

.side_navigation .upgrade h3 {
    display: none;
}

.side_navigation .upgrade button {
    display: none;
}

.side_navigation.side_navigation.expanded .upgrade {
    border-radius: 1rem;
    padding: 0 1rem 1rem;
    margin-top: auto;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    width: calc(100% - 2rem);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.side_navigation.side_navigation.expanded .upgrade img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1rem;
    margin-top: -1.5rem;
}

.side_navigation.side_navigation.expanded .upgrade h3 {
    display: block;
    text-align: center;
    font-size: .9rem;
    line-height: 1.5em;
}

.side_navigation.side_navigation.expanded .upgrade button {
    display: block;
    font-size: 1.075rem;
    background-color: rgb(5, 136, 141);
    border: none;
    width: 100%;
    color: white;
    padding: .5rem 1.25rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

/* ==============
main content
=================*/
main {
    padding-left: 3rem;
}

/* header */
main header {
    padding: .75rem 1rem;
    display: flex;
    background-color: white;
    position: relative;
    align-items: center;
    margin-bottom: 5rem;
    box-shadow: 3px 0 3px rgba(0 0 0 / .2);
}

main header .sm-logo {
    width: 7.5rem;
}

main header .sm-logo img {
    width: 100%;
}

main header .flex_cont {
    padding: .5rem 1rem;
    position: absolute;
    top: 100%;
    margin: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    gap: .75rem;
}

main header .flex_cont h2 {
    margin: 0;
    line-height: 1em;
}

main header .flex_cont .search {
    position: relative;
    width: 100%;
}

main header .flex_cont .search input {
    padding: .75rem 3rem .75rem 1.25rem;
    border: solid 1px rgba(0 0 0 / .2);
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    width: 100%;
    outline: none;
    background-color: white;
}

main header .flex_cont .search input:focus,
main header .flex_cont .search input:focus-within,
main header .flex_cont .search input:focus-visible {
    border: solid rgba(0 0 0 / .5) 1px;
    background-color: white;
}

main header .flex_cont .search .search_icon {
    position: absolute;
    right: .75rem;
    top: .65rem;
}

main header .meta {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: .75rem;
}

/* progress section */
main section.progress {
    padding: 1rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    overflow-x: scroll;
}

main .timing {
    text-align: center;
    flex-basis: 33%;
    align-items: center;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: .5rem .5rem 1rem;
    gap: .5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

main .timing .chart_box {
    position: relative;
    height: 55px;
    width: 55px;
}

main .timing .chart_box p {
    line-height: 1em;
    text-align: center;
    margin: 0;
}

main .timing .chart_box p {
    font-size: smaller;
    font-weight: 700;
    position: absolute;
    top: 58%;
    left: 52%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

main .timing h3 {
    line-height: 1em;
    margin-bottom: 0;
    margin-top: .375rem;
}

main .timing .text p {
    display: none;
    line-height: 1em;
    margin-top: .5em;
    margin-bottom: 0;
}

/* ====================
Course List
===================== */
main .course_list {
    padding: 0 1rem;
}

main .course_list ul {
    list-style-type: none;
    padding: 0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

main .course_list ul li {
    font-weight: 500;
    margin: 0;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0 0 0 / .2);
    z-index: 9;
    border-radius: .375rem;
    padding: 1.125rem .75rem;
    padding-left: calc(1.5rem + 5vw);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin-bottom: .5rem;
    position: relative;
    -webkit-border-radius: .375rem;
    -moz-border-radius: .375rem;
    -ms-border-radius: .375rem;
    -o-border-radius: .375rem;
}

main .course_list ul li>div p {
    margin-bottom: .375rem;
    display: flex;
    gap: .5rem;
}

main .course_list ul li.header {
    background-color: #0e0e0e;
    color: white;
    font-weight: 700;
    padding: .75rem;
    border-radius: 1rem 1rem 0rem 0rem;
    -webkit-border-radius: 1rem 1rem 0rem 0rem;
    -moz-border-radius: 1rem 1rem 0rem 0rem;
    -ms-border-radius: 1rem 1rem 0rem 0rem;
    -o-border-radius: 1rem 1rem 0rem 0rem;
}

main .course_list ul li p {
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

main .course_list ul li div:nth-child(1) {
    background-color: #0e0e0e;
    color: white;
    position: absolute;
    top: -1rem;
    left: -1.25rem;
    place-items: center;
    height: 3.125rem;
    width: 3.125rem;
    padding-top: 1.5rem;
    padding-left: 1.65rem;
    border-radius: 2rem 2rem 2rem 2rem;
    -webkit-border-radius: 2rem 2rem 2rem 2rem;
    -moz-border-radius: 2rem 2rem 2rem 2rem;
    -ms-border-radius: 2rem 2rem 2rem 2rem;
    -o-border-radius: 2rem 2rem 2rem 2rem;
}

main .course_list .md-hide {
    display: inline-block;
    color: #0e0e0eaa;
    font-size: smaller;
    width: 5ch;
}

main .course_list .md-hide.header {
    color: #fff;
    font-size: 1em;
    width: auto;
}

main .course_list .md-hide h2 {
    margin: 0;
}

main .course_list .md_show {
    display: none;
}



/* ==============
MEDIA QUERIES
=================*/
/* =================
min-width: 540px
=================== */
@media only screen and (min-width: 620px) {
    main .course_list ul {
        padding-bottom: 1rem;
        background-color: white;
        overflow: hidden;
    }

    main .course_list ul li {
        box-shadow: none;
        margin: 0;
        background-color: white;
        border-radius: 0;
        display: grid;
        padding: .5rem 1.5rem;
        margin-bottom: 0rem;
        grid-template-columns: repeat(100, 1fr);
        grid-template-rows: repeat(2, 1fr);
        position: relative;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    main .course_list ul li.header {
        background-color: #0e0e0e;
        color: white;
        padding: 1rem 1.5rem;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    main .course_list ul li div:nth-child(1) {
        grid-column: 1/8;
        grid-row: 1/3;
        background-color: transparent;
        position: relative;
        color: #0e0e0e;
        top: 0;
        left: 0em;
        display: block;
        height: auto;
        width: auto;
        padding-top: 0rem;
        padding-left: 0rem;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    main .course_list ul li div:nth-child(2) {
        grid-column: 8/50;
        grid-row: 1/3;
        background-color: transparent;
    }

    main .course_list ul li div:nth-child(3) {
        grid-column: 50/75;
        grid-row: 1/3;
        background-color: transparent;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    main .course_list ul li div:nth-child(4) {
        grid-column: 75/90;
        grid-row: 1/3;
        background-color: transparent;
    }

    main .course_list ul li div:nth-child(5) {
        grid-column: 90/101;
        grid-row: 1/3;
        background-color: transparent;
        text-align: right;
    }

    main .course_list .md-hide {
        display: none;
    }

    main .course_list .md_show {
        display: block;
        color: #0e0e0e;
    }

    main .course_list .md_show p {
        color: #fff;
    }

    main .course_list .md-hide.header {
        font-size: 1em;
        color: #fff;
        width: auto;
    }
}

/* =============
min-width: 620px
================*/
@media only screen and (min-width: 620px) {

    /* progress */

    main .timing {
        flex-direction: row;
    }

    main .timing .text p {
        display: block;
    }
}

/* =============
min-width: 768px
================*/
@media only screen and (min-width: 768px) {

    /* ==============
Side navigation
=================*/
    .side_navigation {
        width: 200px;
    }

    /* md-logo */
    .side_navigation .md-logo {
        display: block;
        width: 160px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;
    }

    /* hamburger */
    .hamburger {
        display: none;
    }

    /* tablist */
    .side_navigation .tablist li {
        padding-left: 1rem;
        padding-block: 0rem;
        margin-bottom: .375rem;
        color: white;
        display: flex;
        align-items: center;
        gap: .75rem;
    }

    .side_navigation .tablist li .hide {
        display: block;
    }

    .side_navigation .tablist li .indicator {
        width: 1.125rem;
    }

    .side_navigation .tablist li .indicator.show {
        display: block;
    }

    /* upgrade */
    .side_navigation .upgrade {
        border-radius: 1rem;
        padding: 0 1rem 1rem;
        margin-top: auto;
        margin-bottom: 5rem;
        margin-left: auto;
        margin-right: auto;
        background-color: aliceblue;
        width: calc(100% - 2rem);
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }

    .side_navigation .upgrade img {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -1rem;
        margin-top: -1.5rem;
    }

    .side_navigation .upgrade h3 {
        display: block;
        text-align: center;
        font-size: .9rem;
        line-height: 1em;
    }

    .side_navigation .upgrade button {
        display: block;
        font-size: 1.075rem;
        background-color: rgb(5, 136, 141);
        border: none;
        width: 100%;
        color: white;
        padding: .5rem 1.25rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
    }


    /* ==============
main content
=================*/
    main {
        padding-left: 200px;
    }

    /* header */
    main header {
        padding: .75rem 1rem;
        display: flex;
        background-color: white;
        position: relative;
        align-items: center;
        margin-bottom: 5rem;
        box-shadow: 3px 0 3px rgba(0 0 0 / .2);
    }

    main header .sm-logo {
        display: none;
    }

    main header .meta {
        gap: 1.25rem;
    }

    /* progress section */
    main section.progress {
        flex-direction: row;
        justify-content: space-between;
    }

    main .timing {
        padding: .5rem .75rem 1rem;
        gap: .375rem;
    }

}

/* =============
min-width: 992px
================*/
@media only screen and (min-width: 992px) {

    /* ==============
Side navigation
=================*/
    .side_navigation {
        width: 220px;
    }

    /* .side_navigation .upgrade {
        margin-bottom: 1rem;
    } */

    /* ==============
main content
=================*/
    main {
        padding-left: 220px;
    }

    /* header */
    main header {
        padding: .75rem 2rem;
        display: flex;
        margin-bottom: 0rem;
        gap: 2rem;
    }


    main header .flex_cont {
        flex: 1;
        padding: .5rem 1rem .5rem 0;
        position: relative;
        flex-direction: row;
        gap: .75rem;
        justify-content: space-between;
    }

    main header .flex_cont .search {
        position: relative;
        width: auto;
        margin: 0;
    }

    main header .flex_cont .search input {
        padding: .75rem 3rem .75rem 1.25rem;
        border: solid 1px rgba(0 0 0 / .2);
    }

    main header .meta {
        gap: 1.5rem;
    }

    /* progress section */
    main section.progress {
        gap: 1.5rem;
        padding: .75rem 2rem;
    }

    main .timing {
        padding: 1rem 1.5rem 2rem;
        gap: 1rem;
    }

    main .timing .chart_box {
        height: 85px;
        width: 85px;
    }

    main .timing .chart_box p {
        font-size: larger;
        top: 55%;
    }

    main .timing h3 {
        line-height: 1.25em;
        font-size: larger;
    }

    main .course_list {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    .side_navigation.side_navigation .upgrade {
        margin-bottom: 1rem;
    }
}